<div class="p-grid">
  <div class="p-col"></div>
  <div class="p-col menubar">
    <button pButton type="button" label="Player 1" class="ui-button-raised ui-button-secondary"></button>
    <button pButton type="button" label="Player 2" class="ui-button-raised ui-button-secondary"></button>
    <button pButton type="button" label="Player 3" class="ui-button-raised ui-button-secondary"></button>
    <button pButton type="button" label="Player 4" class="ui-button-raised ui-button-secondary"></button>
  </div>
  <div class="p-col">
    <button pButton type="button" label="Turn Off" class="ui-button-raised ui-button-secondary"></button>
  </div>
</div>