.deck {
  display: inline-block;
  width: 84px;
  height: 320px;
  
  min-height: 320px;
  overflow-y: auto;

  border: 1px solid black;

  background-color: rgba(0,0,0,0.1);
}

app-card {
  display: block;
}