<section class="height-80">
    <div class="content">
        <h1>Viewport Units são demais!</h1>
        <p>Essa div foi setada para ter 80vh, ocupando 80% da tela =)</p>
    </div>
</section>

<section class="height-50">
    <div class="content">
        <h1>É tão simples de brincar!</h1>
        <p>Essa div foi setada para ter 50vh, ocupando 50% da tela =)</p>
    </div>
</section>

<section class="height-100">
    <div class="content">
        <h1>Libere sua criatividade!</h1>
        <p>Essa div foi setada para ter 100vh, ocupando 100% da tela =)</p>
    </div>
</section>

<!--app-menubar></app-menubar>

<app-timeline></app-timeline>

<app-handplayer></app-handplayer>

<app-board></app-board>

<app-tecnology></app-tecnology>

<app-culture></app-culture>

<app-military></app-military-->