<div class="p-grid scroll">
  <div class="p-col line">
    <div class="deck">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
    <div class="deck">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
    <div class="deck">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
    <div class="deck">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
    <div class="deck">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
    <div class="deck">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
    <div class="deck">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
    <div class="deck">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
    <div class="deck">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
    <div class="deck">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
    <div class="deck">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
    <div class="deck">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
    <div class="deck">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
    <div class="deck">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </div>
</div>



<!--div class="p-grid scroll">
  <div class="p-col line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col line">
    <app-deck-discovery></app-deck-discovery>
  </div>
</div-->