<div class="p-grid scroll">
  <div class="p-col-1 line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col-1 line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col-1 line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col-1 line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col-1 line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col-1 line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col-1 line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col-1 line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col-1 line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col-1 line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col-1 line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col-1 line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col-1 line">
    <app-deck-discovery></app-deck-discovery>
  </div>
  <div class="p-col-1 line">
    <app-deck-discovery></app-deck-discovery>
  </div>
</div>