<div class="p-grid scroll">
  <div class="p-col-12">

    <div class="p-gri scroll">
      <div class="p-col-12">

        <div class="line">
        <app-deck-discovery></app-deck-discovery>
        </div>

        <div class="line">
        <app-deck-colonies></app-deck-colonies>
        </div>

        <div class="line">


        </div>

        <div class="line">
          <app-card></app-card>
        </div>

        <div class="line">
          <app-card></app-card>
        </div>

        <div class="line">
          <app-card></app-card>
        </div>

      </div>
    </div>

  </div>
</div>